arrow
asgiref
blinker
click
colorama
cycler
Django
fire
Flask
Flask-Cors
fonttools
image
itsdangerous
Jinja2
joblib
kiwisolver
lxml
MarkupSafe
matplotlib
numpy
opencv-python
packaging
pandas
pdf2docx
Pillow
plyer
PyMuPDF
pyparsing
pypng
python-dateutil
python-docx
python-time
pytz
qrcode
scikit-learn
scipy
seaborn
six
sqlparse
termcolor
threadpoolctl
typing_extensions
tzdata
Werkzeug
gunicorn
